.line-center {
  display: flex;
  margin-top: 20px;
  justify-content: space-around;

  .btns {
    width: 40%;
  }
}

.qing {
  margin: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  img {
    width: 100%;
    margin: 0 auto;
  }
}

.resMsg {
  color: red;
  text-align: center;
}

.head {
  line-height: 60px;
  font-size: 20px;
  color: #fff;
}